<h4 class="heading">
  Welcome!
</h4>
<p class="heading" style="font-size: medium;">
  Any smooth running business needs a reliable system for collecting customer info and compiling documents to interacts with those customers.
</p>
<p class="heading" style="font-size: small;">
  The Ngamla! platform was created to help business operators manage their processes from anywhere using any device. Whether at home, work or out and about, operators can keep track of their businesses and effect changes at the click of a button.
  Ngamla! is mainly used to create quotations and invoices but can also assist with tracking accounts, sales and much more. 
</p>