<h4>
  Welcome to NGamla!
</h4>
<p style="font-size: medium;">
  Ngamla! was created to help business operators create quotations and invoices with as little fuss as possible,
</p>
<p style="font-size: small;">
  Any smooth running business needs a reliable system for collecting customer info and compiling documents to interacts with their customers. It is for this reason that we introduce you to Ngamla, Mightyrelo's propietary software intended to ease work flow for small and medium enterprises in South Africa.  
</p>